.scp-quizzes-main{ width:100%; font-family:Verdana, Arial, Helvetica, sans-serif; background-color:#e0fcf8}
.scp-quizzes-data{
box-shadow: 0px 1px 3px -1px #DCDCDC;
padding:10px;
margin-top:15px;
}

 input[type=radio] {
    display:none;
}
input[type=radio] + label {
    display:inline-block;
	width:95%;
	padding:10px;
	border:1px solid #ddd;
	margin-bottom:10px;
	cursor:pointer;
}
input[type=radio] + label:hover{ border:1px solid #000000; background-color: grey;}
input[type=radio] + label:active{ border:1px solid #000000; background-color: white;}


input[type=radio]:checked + label {
   background-image: none;
   background-color:#0C0;
	color:#fff;
	border:1px solid #0C0 !important;
}
.wrong{
	background-image: none;
     background-color:red !important;
  	color:#fff;
  	border:1px solid #0C0 !important;
}
